In [1]:
False

False

In [2]:
type(False)

bool

In [3]:
type(True)

bool

In [4]:
my_str='Satyajit'

In [5]:
my_str.istitle()

True

In [7]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('s')) #test if string endswith a d
print(my_str.startswith('S')) #test if string startswith H

True
True
False
True
False
False
False
False
True

In [20]:
print(my_str.upper())
print(my_str.lower())
print(my_str.title())
print(my_str.casefold())

SATYAJIT
satyajit
Satyajit
satyajit

In [19]:
print(my_str.find('at'))
print(my_str.find('j'))
print(my_str.find('k'))
print(my_str.replace('aj','kk'))

1
5
-1
Satykkit

#### Website below contains a list of string functions that can be used as required. https://www.journaldev.com/24588/python-string-functions

In [25]:
my_str.isalpha() or str_example.isnum()

True

### Lists

In [41]:
type([])

list

In [28]:
a = []
type(a)

list

In [42]:
lst = list()
type(lst)

list

In [43]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [44]:
len(lst)

6

In [45]:
type(lst)

list

### Append

In [46]:
lst.append("Krish")

In [47]:
lst.append(["John","Bala"])

In [48]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [49]:
## Indexing
lst[3]

200

In [50]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [51]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [52]:
lst.insert(2,"Naik")

In [53]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [55]:
lst.append(["Hello","World"])

In [56]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [57]:
lst=[1,2,3]
lst.append([4,5])
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [59]:
lst=[1,2,3,4,5,6]
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [60]:
lst=[1,2,3,4,5]
sum(lst)

15

In [61]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [63]:
lst.pop()

5

In [64]:
lst.pop(0)

1

In [65]:
lst

[2, 3, 4]

In [66]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [67]:
len(lst)

6

In [68]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [69]:
lst.index(1)

0

In [70]:
print(min(lst))
print(max(lst))

1
5

### SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [72]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [74]:
set_var = {1,2,3,4,3}
print(set_var)

{1, 2, 3, 4}

In [75]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [76]:
set_var.add('Hulk')

In [77]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [78]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [81]:
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.difference(set1)

{'Hulk2'}

In [82]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [83]:
set2.difference_update(set1)
set2

{'Hulk2'}

Other functions - 

add,
update(to add multiple values - list of values or another set), 
remove(gives an error if element does not exist in set), 
discard (same as remove, doesnt throw error),

In [86]:
set1.intersection(set2)

set()

In [87]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set1.intersection(set2)

{'Avengers', 'Hitman', 'IronMan'}

In [89]:
set2.difference(set1)

{'Hulk2'}

In [90]:
set1.difference(set2)

set()

In [91]:
set1={"Avengers","IronMan",'Hitman','Dummy'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set1.symmetric_difference(set2)

{'Dummy', 'Hulk2'}

In [94]:
set1.union(set2)

{'Avengers', 'Dummy', 'Hitman', 'Hulk2', 'IronMan'}

In [95]:
l1 = [1,2,3,1,2]
l2 = list(set(l1))
l2

[1, 2, 3]

In [96]:
'Avengers' in set1

True

### Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [97]:
dic = {}

In [98]:
type(dic)

dict

In [99]:
dic = dict()
type(dic)

dict

In [100]:
set_ex = {1,2,3,4,5}
type(set_ex)

set

In [101]:
## Let create a dictionary
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [102]:
type(my_dict)

dict

In [103]:
my_dict['Car1']

'Audi'

In [104]:
##Access the item values based on keys
my_dict['Car1']

'Audi'

In [105]:
for i in my_dict:
    print(i)

Car1
Car2
Car3

In [107]:
for i in my_dict.values():
    print(i)

Audi
BMW
Mercidies Benz

In [108]:
for i in my_dict.items():
    print(i)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [109]:
for key,value in my_dict.items():
    print(key)

Car1
Car2
Car3

In [110]:
for key,value in my_dict.items():
    print(value)

Audi
BMW
Mercidies Benz

In [112]:
## Adding items in Dictionaries
my_dict['car4']='Audi 2.0'
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [113]:
my_dict['Car1']='MAruti'

In [114]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [118]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [117]:
print(car_type['car1'])

{'Mercedes': 1960}

In [119]:
print(car_type['car1']['Mercedes'])

1960

### Tuples

In [121]:
## create an empty Tuples

my_tuple=tuple()

In [122]:
type(my_tuple)

tuple

In [123]:
my_tuple=()

In [124]:
type(my_tuple)

tuple

In [125]:
my_tuple=("Krish","Ankur","John")

In [126]:
my_tuple

('Krish', 'Ankur', 'John')

In [127]:
my_tuple[0]

'Krish'

In [128]:
my_tuple[0] = "Satya"

TypeError: 'tuple' object does not support item assignment

The above fails because tuples are immuatble, in simple words, unchangeable.
Elemnents of Tupes cant be changed. But it can be changed as a whole.

In [129]:
## THis works
my_tuple=("Satya","Ankur","John")

In [130]:
my_tuple

('Satya', 'Ankur', 'John')

In [131]:
## Inbuilt function
my_tuple.count('Satya')

1

In [133]:
my_tuple.index('Ankur')

1