### Functions

In [2]:
def even_odd(num):
    if num%2 == 0:
        print("The number is even")
    else:
        print("The number is odd")

In [3]:
even_odd(15)

The number is odd

In [4]:
even_odd(30)

The number is even

In [5]:
def hello_world():
    print("Hello World")

In [6]:
hello_world()

Hello World

In [7]:
val = hello_world()
print(val)

Hello World
None

In [8]:
def hello_world():
    return("Hello World")

In [9]:
val = hello_world()
print(val)

Hello World

In [10]:
def hello(name,age=29):
    print("My name is {} and age is {}".format(name,age))

In [11]:
hello("Satyajit",32)

My name is Satyajit and age is 32

In [12]:
hello("Satyajit")

My name is Satyajit and age is 29

In [13]:
# name is positional argument as no default value has been provided
# age is keyword argument as a default value has been provided.

In [14]:
def hello(name,age):
    print("My name is {} and age is {}".format(name,age))

In [15]:
# Expected error
hello("Satyajit")

TypeError: hello() missing 1 required positional argument: 'age'

## IMPORTANT

In [16]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [17]:
hello('Satyajit','Ghosh',age=29,dob=1990)

('Satyajit', 'Ghosh')
{'age': 29, 'dob': 1990}

In [19]:
lst = ['Satyajit','Ghosh']
dct = {'age':29,'dob':1990}

In [20]:
hello(lst,dct)

(['Satyajit', 'Ghosh'], {'age': 29, 'dob': 1990})
{}

In [21]:
hello(*lst,**dct)

('Satyajit', 'Ghosh')
{'age': 29, 'dob': 1990}

### Returning Multiple Values

In [23]:
def evenoddsum(lst):
    
    evensum = 0
    oddsum = 0
    
    for num in lst:
        if num%2 == 0:
            evensum += num
        else:
            oddsum += num
    
    return evensum,oddsum

In [24]:
lst = [1,2,3,4,5,6,7]
evenoddsum(lst)

(12, 16)

In [25]:
esum,osum = evenoddsum(lst)

In [26]:
print(esum)
print(osum)

12
16

### Lambda Function

In [27]:
## Anonymus function - function with no name
def addition(a,b):
    return(a+b)

In [28]:
addition(4,5)

9

In [29]:
## Converting to lambda function
# Possible only if we have a single expression
addition=lambda a,b:a+b

In [30]:
addition(12,14)

26

In [31]:
def even(num):
    if num%2 == 0:
        return True

In [32]:
even(10)

True

In [33]:
even(5)

In [34]:
even1 = lambda num: num%2 == 0

In [35]:
even1(10)

True

In [36]:
even1(5)

False

### Map Function in Python

In [41]:
def even_or_odd(num):
    if num%2 == 0:
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [43]:
even_or_odd(24)

'The number 24 is Even'

In [44]:
even_or_odd(13)

'The number 13 is Odd'

In [45]:
lst = [1,2,3,4,5,6,7,8,9,24,56,78]

In [46]:
# map function - arguument 1 - function name, argument 2 - iterables
map(even_or_odd,lst)

In [47]:
list(map(even_or_odd,lst))

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd',
 'The number 8 is Even',
 'The number 9 is Odd',
 'The number 24 is Even',
 'The number 56 is Even',
 'The number 78 is Even']

### Filter function in Python

In [50]:
def even(num):
    if num%2 == 0:
        return True

In [53]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [54]:
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [57]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 10]

In [58]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]

### List Comrehension

List Comprehension provides a concise way to create lists.

In [60]:
def lst_square(lst):
    lst1 = []
    for item in lst:
        lst1.append(item*item)
    return(lst1)

In [61]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [63]:
lst = [1,2,3,4,5,6,7]

In [65]:
lst1 = [i*i for i in lst]

In [66]:
print(lst1)

[1, 4, 9, 16, 25, 36, 49]

In [67]:
### Square only even numbers
lst1 = [i*i for i in lst if i%2 == 0]

In [68]:
print(lst1)

[4, 16, 36]

### String formatting in Python

In [70]:
def greeting(name):
    return "Hello {}. Welcome to the community.".format(name)

In [71]:
greeting('Satyajit')

'Hello Satyajit. Welcome to the community.'

In [72]:
def welcome_email(name,age):
    return "Welcome {}. Your age is {}".format(name,age)

In [73]:
welcome_email('Satyajit',32)

'Welcome Satyajit. Your age is 32'

In [74]:
## Ordering is important.
welcome_email(32,'Satyajit')

'Welcome 32. Your age is Satyajit'

In [77]:
def welcome_email(name,age):
    return "Welcome {name}. Your age is {age}".format(age=age,name=name)

In [78]:
welcome_email('Satyajit',32)

'Welcome Satyajit. Your age is 32'