In [2]:
/ Jai shree Ganesh

In [3]:
2+2

4

In [4]:
show a:42

42

In [5]:
a

42

In [5]:
c

c: c

In [6]:
/ evaluaton error because the variable is missing.
/ Usually there is a vertical single quote - tick that indicates an error.

In [7]:
/A variable is not explicitly declared or typed. Instead, its assigned value determines the variable type.

In [8]:
a:42

In [9]:
a

42

In [10]:
b:10%2
b

5f

In [11]:
/ b is float, because the result of a division is always float.
/ Thus, the expression /assignment value decides the data type of the variable b.

In [12]:
1 + a:42

43

In [13]:
/ Expression is evaluated from right to left and the value of a is propagated left towards the expression.

In [14]:
b:1 + a:42
b

43

In [15]:
/ This propagation of result is similar to Linux.
/ This 'chaining' results in concise single line code that can get a lot done.

In [16]:
/Boolean Values

In [17]:
42=42
/true

1b

In [19]:
42=43
/false

0b

In [20]:
/ The two most useful temporal types are date and timespan; both represent integral counts. 
/ Under the covers, a date is the number of days since the millennium, positive for post and negative for pre

In [21]:
2000.01.01

2000.01.01

In [22]:
2000.01.01 = 0

1b

In [23]:
2000.01.01 - 1

1999.12.31

In [24]:
1999.12.31 = -1

1b

In [25]:
/ Similarly, a time value is represented by a timespan, 
/which is a (long) integer count of the number of nanoseconds since midnight

In [28]:
12:00:00.000000000 + 5

0D12:00:00.000000005

In [29]:
2000.01.01+5

2000.01.06

In [30]:
12:00:00.000000000=12*60*60*1000000000

1b

In [31]:
/The treatment of textual data in q is a bit complicated in order to provide optimum flexibility and performance. 
/For now, we will focus on symbols, which derive from their namesake in Scheme and are akin to VARCHAR in SQL or strings 
/in other languages. They are not what q calls strings!

/Think of symbols as wannabe names: all q names are symbols but not all symbols are names. 
/A symbol is atomic, meaning that it is viewed as an indivisible entity (although we shall see later 
/how to expose the characters inside it).

/Symbols are denoted by a leading back-quote (called "back tick" in q-speak) followed by characters. 
/Symbols without embedded blanks or other special characters can be entered literally into the console.

In [32]:
`aapl

`aapl

In [33]:
`aapl=`apl

0b

In [1]:
/ Note the single false value above.
/ As the symbol is atomic (that which cannot be divided)
/ we dont receive a list of boolean values representing a comparison between each character in the string.

In [2]:
/ Lists in Q.
/ The fundamental q data structure is a list, which is an ordered collection of items sequenced from left to right. 
/ The notation for a general list encloses items with ( and ) and uses ; as separator. 
/ Spaces after the semi-colons are optional but can improve readability.

In [6]:
ls:(1; 1.2; `one)
ls
count ls

1
1.2
`one

3

In [9]:
/ examples of list
(1; 2; 3)
(1.2; 2.2; 3.3)
(2000.01.01; 2000.01.02; 2001.01.03)
(1b; 0b; 1b)
(`one; `two; `three)

1 2 3

1.2 2.2 3.3

2000.01.01 2000.01.02 2001.01.03

101b

`one`two`three

In [10]:
1 2 3,4 5

1 2 3 4 5

In [12]:
2#til 10
-2#til 10

0 1

8 9

In [14]:
/ 0# returns an empty list of the same type as the first item in its argument
0 # 1 2 3
0 # 1.0 2.0 3.0

`long$()

`float$()

In [16]:
2 # 1 2 3 4 5
3 # 1

1 2

1 1 1

In [18]:
L:10 20 30
L[0]
L[1]
L[2]

10

20

30