In [2]:
/ Jai shree Ganesh

In [3]:
2+2

4

In [4]:
show a:42

42

In [5]:
a

42

In [5]:
c

c: c

In [6]:
/ evaluaton error because the variable is missing.
/ Usually there is a vertical single quote - tick that indicates an error.

In [7]:
/A variable is not explicitly declared or typed. Instead, its assigned value determines the variable type.

In [8]:
a:42

In [9]:
a

42

In [10]:
b:10%2
b

5f

In [11]:
/ b is float, because the result of a division is always float.
/ Thus, the expression /assignment value decides the data type of the variable b.

In [12]:
1 + a:42

43

In [13]:
/ Expression is evaluated from right to left and the value of a is propagated left towards the expression.

In [14]:
b:1 + a:42
b

43

In [15]:
/ This propagation of result is similar to Linux.
/ This 'chaining' results in concise single line code that can get a lot done.

In [16]:
/Boolean Values

In [17]:
42=42
/true

1b

In [19]:
42=43
/false

0b

In [20]:
/ The two most useful temporal types are date and timespan; both represent integral counts. 
/ Under the covers, a date is the number of days since the millennium, positive for post and negative for pre

In [21]:
2000.01.01

2000.01.01

In [22]:
2000.01.01 = 0

1b

In [23]:
2000.01.01 - 1

1999.12.31

In [24]:
1999.12.31 = -1

1b

In [25]:
/ Similarly, a time value is represented by a timespan, 
/which is a (long) integer count of the number of nanoseconds since midnight

In [28]:
12:00:00.000000000 + 5

0D12:00:00.000000005

In [29]:
2000.01.01+5

2000.01.06

In [30]:
12:00:00.000000000=12*60*60*1000000000

1b

In [31]:
/The treatment of textual data in q is a bit complicated in order to provide optimum flexibility and performance. 
/For now, we will focus on symbols, which derive from their namesake in Scheme and are akin to VARCHAR in SQL or strings 
/in other languages. They are not what q calls strings!

/Think of symbols as wannabe names: all q names are symbols but not all symbols are names. 
/A symbol is atomic, meaning that it is viewed as an indivisible entity (although we shall see later 
/how to expose the characters inside it).

/Symbols are denoted by a leading back-quote (called "back tick" in q-speak) followed by characters. 
/Symbols without embedded blanks or other special characters can be entered literally into the console.

In [32]:
`aapl

`aapl

In [33]:
`aapl=`apl

0b

In [1]:
/ Note the single false value above.
/ As the symbol is atomic (that which cannot be divided)
/ we dont receive a list of boolean values representing a comparison between each character in the string.

In [2]:
/ Lists in Q.
/ The fundamental q data structure is a list, which is an ordered collection of items sequenced from left to right. 
/ The notation for a general list encloses items with ( and ) and uses ; as separator. 
/ Spaces after the semi-colons are optional but can improve readability.

In [6]:
ls:(1; 1.2; `one)
ls
count ls

1
1.2
`one

3

In [9]:
/ examples of list
(1; 2; 3)
(1.2; 2.2; 3.3)
(2000.01.01; 2000.01.02; 2001.01.03)
(1b; 0b; 1b)
(`one; `two; `three)

1 2 3

1.2 2.2 3.3

2000.01.01 2000.01.02 2001.01.03

101b

`one`two`three

In [10]:
1 2 3,4 5

1 2 3 4 5

In [12]:
2#til 10
-2#til 10

0 1

8 9

In [14]:
/ 0# returns an empty list of the same type as the first item in its argument
0 # 1 2 3
0 # 1.0 2.0 3.0

`long$()

`float$()

In [16]:
2 # 1 2 3 4 5
3 # 1

1 2

1 1 1

In [18]:
L:10 20 30
L[0]
L[1]
L[2]

10

20

30

In [2]:
{[x]; x*x} 5
{[x]; x*x} [5]

25

25

In [11]:
{[x;y] a:x*x;b:y*y;a+b}[3;4]

pyth:{[x;y];a:x*x;b:y*y;a+b}
pyth[3;4]

/x,y are implicitly expected
pyth:{a:x*x;b:y*y;a+b}
pyth[3;4]

25

25

25

In [12]:
/ Lists
100=99 100 101
100 100 100=100 101 102
100<99 100 101

010b

100b

001b

In [14]:
0 +/ 1 2 3 4 5
0 +/ 1+til 100

15

5050

In [16]:
0 {x+y}/ 1 2 3 4 5

15

In [17]:
(*/) 1+til 10

3628800

In [18]:
42|98
42&98

98

42

In [20]:
(|/) 20 10 40 30
(&/) 20 10 40 30

40

10

In [21]:
(*/) 2#1.4142135623730949

2f

In [22]:
n:5
(*/) n#10

100000

In [23]:
(+\) 1+til 10
(*\) 1+til 10

1 3 6 10 15 21 28 36 45 55

1 2 6 24 120 720 5040 40320 362880 3628800

In [24]:
(|\) 20 10 40 30
(&\) 20 10 40 30

20 20 40 40

20 10 10 10

In [2]:
F0:1 1
F0
F0:F0,sum -2#F0
F0

1 1

1 1 2

In [2]:
{x,sum -2#x}[1 1]

1 1 2

In [3]:
{x,sum -2#x}[1 1 2]

1 1 2 3

In [4]:
10 {x,sum -2#x}/ 1 1

1 1 2 3 5 8 13 21 34 55 89 144

In [5]:
/ Newton Raphson

x0:1.0
x0-((x0*x0)-2)%2*x0

1.5

In [6]:
{[xn] xn-((xn*xn)-2)%2*xn}[1.0]

1.5

In [7]:
{[xn] xn-((xn*xn)-2)%2*xn}[1.5]

1.416667

Wouldn't it be nice of q had a higher-order function to apply a function recursively, starting at the base case, 
until the output converges? You won't be surprised that there is another overload of our friend Over that does exactly this. 
Just specify the base case and q iterates until the result converges within the system comparison tolerance 
(as of this writing – Sep 2015 – that tolerance is 10-14)

In [8]:
{[xn] xn-((xn*xn)-2)%2*xn}/[1.5]

1.414214

In [9]:
{[xn] xn-((xn*xn)-2)%2*xn}\[1.0]

1 1.5 1.416667 1.414216 1.414214 1.414214

In [10]:
{[c; xn] xn-((xn*xn)-c)%2*xn}[2.0;]

{[c; xn] xn-((xn*xn)-c)%2*xn}[2f;]

In [12]:
{[c; xn] xn-((xn*xn)-c)%2*xn}[2.0;]\[1.0]

1 1.5 1.416667 1.414216 1.414214 1.414214

In [13]:
{[c; xn] xn-((xn*xn)-c)%2*xn}[3.0;]\[1.0]

1 2 1.75 1.732143 1.732051 1.732051

In [14]:
{[p; c; xn] xn-(((*/)p#xn)-c)%p*(*/)(p-1)#xn}

{[p; c; xn] xn-(((*/)p#xn)-c)%p*(*/)(p-1)#xn}

In [15]:
{[p; c; xn] xn-(((*/)p#xn)-c)%p*(*/)(p-1)#xn}[2; 3.0;]\[1.0]

1 2 1.75 1.732143 1.732051 1.732051

In [16]:
{[p; c; xn] xn-(((*/)p#xn)-c)%p*(*/)(p-1)#xn}[5; 7.0;]\[1.0]

1 2.2 1.819764 1.583475 1.489461 1.476022 1.475773 1.475773

In [1]:
/ Fifo Allocation
/ An example of some of the functions
/ Fifo is just an example allocate those buys to sell which occured first.

In [2]:
buys:2 1 4 3 5 4f
sell:12f

/ desired allocation - so that the sum of the alloc buys = the number of sells - 12
allocation : 2 1 4 3 2 0

In [6]:
sums buys
sell&sums buys
deltas sell&sums buys

2 3 7 10 15 19f

2 3 7 10 12 12f

2 1 4 3 2 0f

In [5]:
deltas 1 2 3 4 5
deltas 10 15 20

1 1 1 1 1

10 5 5

After lists, the second basic data structure of q is the dictionary, which models key-value association. 
A dictionary is constructed from two lists of the same length using the ! operator. 
The left operand is the list of (presumably unique, though unenforced) keys and the right operand is the list of values. 
A dictionary is a first-class value, just like an integer or list and can be assigned to a variable.

In [7]:
`a`b`c!10 20 30

a| 10
b| 20
c| 30

In [8]:
d:`a`b`c!10 20 30
d

a| 10
b| 20
c| 30

In [9]:
d[`a]

10

A useful class of dictionary has as keys a simple list of symbols and as values a list of lists of uniform length. We think of such a dictionary as a named collection of columns and call it a column dictionary.

In [10]:
`c1`c2!(10 20 30; 1.1 2.2 3.3)

c1| 10  20  30
c2| 1.1 2.2 3.3

In [11]:
dc:`c1`c2!(10 20 30; 1.1 2.2 3.3)
dc

c1| 10  20  30
c2| 1.1 2.2 3.3

In [12]:
dc[`c1][0]

10

In [13]:
/ this is called indexing at depth
dc[`c1; 0]

10

In [14]:
dc[`c1;]

10 20 30

In [15]:
dc[;0]

c1| 10
c2| 1.1

To summarize, we have an entity that retrieves columns in the first slot and section dictionaries in the second slot. The issue is that columns are conventionally accessed in the second slot of two-dimensional things. No problem. We apply the built-in operator flip (better called “transpose”) to reverse the order of indexing. We still have the same column dictionary but slot retrieval is reversed: columns are accessed in the second slot and section dictionaries are retrieved from the first slot.

In [16]:
t:flip `c1`c2!(10 20 30; 1.1 2.2 3.3)

In [17]:
t

c1 c2
------
10 1.1
20 2.2
30 3.3

In [18]:
t[`c2]

1.1 2.2 3.3

In [19]:
t[1;`c2]

2.2

In [20]:
t[1;]

c1| 20
c2| 2.2

Observe that the console display of a flipped column dictionary is indeed the transpose of the column dictionary display and in fact looks like … a table.
A flipped column dictionary, called a table, is a first-class entity in q.

In [21]:
t[1]

c1| 20
c2| 2.2

Thus we have arrived at:

A table is a flipped column dictionary.
It is also a list of record dictionaries.

In [22]:
([] c1:10 20 30; c2:1.1 2.2 3.3)

c1 c2
------
10 1.1
20 2.2
30 3.3

A few notes.

The square brackets are necessary to differentiate a table from a list
The occurrence of : is not assignment. It is merely a syntactic marker separating the name from the column values
The column names in table definition are not symbols, although they are converted to symbols under the covers.

In [23]:
t:([] c1:1000+til 6; c2:`a`b`c`a`b`a; c3:10*1+til 6)
t

c1   c2 c3
----------
1000 a  10
1001 b  20
1002 c  30
1003 a  40
1004 b  50
1005 a  60

In [24]:
select from t

c1   c2 c3
----------
1000 a  10
1001 b  20
1002 c  30
1003 a  40
1004 b  50
1005 a  60

In [25]:
select c1, val:2*c3 from t

c1   val
--------
1000 20
1001 40
1002 60
1003 80
1004 100
1005 120

In [26]:
select count c1, sum c3 by c2 from t

c2| c1 c3
--| ------
a | 3  110
b | 2  70
c | 1  30

In [27]:
/ An advantage of q-sql by is that you can group on a computed column.

In [29]:
/ grouped based on values of c3, c3<40 - group 0, c3>=40 - group 1 
select count c2 by ovrund:c3<=40 from t

ovrund| c2
------| --
0     | 2
1     | 4

In [30]:
update c3:10*c3 from t where c2=`a

c1   c2 c3
-----------
1000 a  100
1001 b  20
1002 c  30
1003 a  400
1004 b  50
1005 a  600

In [32]:
/ sort table with c2
`c2 xasc t

c1   c2 c3
----------
1000 a  10
1003 a  40
1005 a  60
1001 b  20
1004 b  50
1002 c  30

In [34]:
/ generates 10 random integers between 0 and 20
10?20
/ generates 10 random integers between 0 and 20.0
10?20.0

4 13 9 2 7 0 17 14 9 18

7.78112 7.83086 1.624709 18.73501 5.564243 4.784682 3.016266 3.134634 19.57 1..

In [35]:
10?`aapl`ibm

`aapl`aapl`aapl`ibm`aapl`aapl`aapl`aapl`aapl`aapl

In [36]:

dts:2015.01.01+1000000?31
tms:1000000?24:00:00.000000000
syms:1000000?`aapl`goog`ibm
vols:10*1+1000000?1000
pxs:90.0+(1000000?2001)%100

trades:([] dt:dts; tm:tms; sym:syms; vol:vols; px:pxs)
5#trades

dt         tm                   sym  vol  px
------------------------------------------------
2015.01.14 0D12:21:23.572398126 goog 5430 102.18
2015.01.30 0D17:12:27.054561227 aapl 7220 103.5
2015.01.24 0D18:13:16.435531228 ibm  9400 98.14
2015.01.25 0D20:55:53.542938083 goog 4800 109.88
2015.01.22 0D19:35:17.212843894 ibm  60   102.94

In [37]:
trades:`dt`tm xasc trades
5#trades

dt         tm                   sym  vol  px
------------------------------------------------
2015.01.01 0D00:00:07.004971057 aapl 9200 103.22
2015.01.01 0D00:00:09.415197372 goog 1230 97.25
2015.01.01 0D00:00:13.514088839 aapl 7670 103.86
2015.01.01 0D00:00:14.056894183 aapl 8860 105.49
2015.01.01 0D00:00:15.205892175 aapl 8420 108.68

In [38]:
trades:update px:6*px from trades where sym=`goog
trades:update px:2*px from trades where sym=`ibm
5#trades

dt         tm                   sym  vol  px
------------------------------------------------
2015.01.01 0D00:00:07.004971057 aapl 9200 103.22
2015.01.01 0D00:00:09.415197372 goog 1230 583.5
2015.01.01 0D00:00:13.514088839 aapl 7670 103.86
2015.01.01 0D00:00:14.056894183 aapl 8860 105.49
2015.01.01 0D00:00:15.205892175 aapl 8420 108.68

In [39]:
select avg px, avg vol by sym from trades

sym | px       vol
----| -----------------
aapl| 100.0113 5007.817
goog| 599.974  5010.486
ibm | 200.0099 5001.844

In [41]:
q)select min px, max px by sym from trades

sym | px  px1
----| -------
aapl| 90  110
goog| 540 660
ibm | 180 220

Our first non-trivial query computes the 100-millisecond bucketed volume-weighted average price (VWAP). This uses the built-in binary function xbar. The left operand of xbar is an interval width, and the right operand is a list of numeric values. The effect of xbar is to shove each input to the left-hand end point of the interval of specified width in which it falls. For example,

In [45]:
til 15
5 xbar til 15

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

0 0 0 0 0 5 5 5 5 5 10 10 10 10 10

In [44]:
til 15
3 xbar til 15

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

0 0 0 3 3 3 6 6 6 9 9 9 12 12 12

In [46]:
til 15
10 xbar til 15

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

0 0 0 0 0 0 0 0 0 0 10 10 10 10 10

In [47]:
1 2 3 wavg 50 60 70

63.33333

In [48]:
select vwap:vol wavg px by sym,bkt:100000000 xbar tm from trades

sym  bkt                 | vwap
-------------------------| --------
aapl 0D00:00:00.100000000| 104.6185
aapl 0D00:00:00.500000000| 93.76
aapl 0D00:00:00.600000000| 107.04
aapl 0D00:00:00.900000000| 103.06
aapl 0D00:00:01.200000000| 96.12448
aapl 0D00:00:02.200000000| 103.51
aapl 0D00:00:02.300000000| 105.73
aapl 0D00:00:02.400000000| 92.91845
aapl 0D00:00:02.800000000| 105.553
aapl 0D00:00:03.000000000| 106.1294
aapl 0D00:00:03.300000000| 101
aapl 0D00:00:03.800000000| 100
aapl 0D00:00:04.300000000| 106.28
aapl 0D00:00:05.000000000| 106.02
aapl 0D00:00:05.400000000| 104.13
aapl 0D00:00:06.100000000| 107.46
aapl 0D00:00:06.300000000| 92.66423
aapl 0D00:00:06.600000000| 102.7
aapl 0D00:00:06.700000000| 94.78597
aapl 0D00:00:06.900000000| 102.33
..

In [49]:
select max px-mins px from trades where sym=`aapl

px
--
20