In [1]:
from urllib.request import urlretrieve
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'
urlretrieve(italy_covid_url, './data/italy-covid-daywise.csv')

('./data/italy-covid-daywise.csv', <http.client.HTTPMessage at 0x2b8c1a7f760>)

In [2]:
import pandas as pd
covid_df = pd.read_csv('./data/italy-covid-daywise.csv')

In [3]:
type(covid_df)

pandas.core.frame.DataFrame

In [4]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [5]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [6]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [7]:
covid_df.shape

(248, 4)

A dataframe can be cosidered to be a dictionary of lists, with key value pairs, with each key being equal to a column name and the value being a list containing the values  of that given column. NOte, how we try to access values of a particular column using dictionary notation here. The objetc we get back is not a list though. It is a series.

In [8]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [9]:
type(covid_df['new_cases'])

pandas.core.series.Series

In [10]:
covid_df['new_cases'][243]

1444.0

we can also use .at function to get the values at the specific rows and columns.

In [12]:
covid_df.at[243,'new_cases']

1444.0

In [13]:
# Easier method to access columns

covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [14]:
type(covid_df.new_cases)

pandas.core.series.Series

In [15]:
# Selecting a subset of columns - pass a list of columns you need

covid_df[['new_cases','new_tests']]

     new_cases  new_tests
0          0.0        NaN
1          0.0        NaN
2          0.0        NaN
3          0.0        NaN
4          0.0        NaN
..         ...        ...
243     1444.0    53541.0
244     1365.0    42583.0
245      996.0    54395.0
246      975.0        NaN
247     1326.0        NaN

[248 rows x 2 columns]

### VERY IMPORTANT

covid_df_copy = covid_df <- NO new copy is created, ie. all hanges in covid_df_copy will appear in covid_df as well.

covid_df_copy = covid_df.copy() <- covid_df_copy is completely separate from covid_df. Changes in one will not affect the other.

In [16]:
# Indexing otation to access a particular row.

covid_df.loc[243]

date          2020-08-30
new_cases         1444.0
new_deaths           1.0
new_tests        53541.0
Name: 243, dtype: object

In [17]:
covid_df.head(5)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [18]:
covid_df.tail(5)

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [19]:
covid_df.new_tests.first_valid_index()

111

In [20]:
covid_df.sample(5)

           date  new_cases  new_deaths  new_tests
147  2020-05-26      300.0        92.0    33944.0
31   2020-01-31        3.0         0.0        NaN
21   2020-01-21        0.0         0.0        NaN
78   2020-03-18     3526.0       347.0        NaN
212  2020-07-30      288.0         6.0    33396.0

In [23]:
# Getting the total number of cases
covid_df.new_cases.sum()

271515.0

In [24]:
death_rate = covid_df.new_deaths.sum()/covid_df.new_cases.sum()
print(death_rate)

0.13073679170579894