In [79]:
# Main modules
# datetime,time,calendar

In [80]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
datetime.now()
# this yields an object of type datetime.date that stores the time upto microsecond.

datetime.datetime(2023, 8, 1, 0, 27, 4, 574672)

In [81]:
# note that for date we have to call a function date(), but the day , month and year are attributes of the object.
print(datetime.now().date())
print(datetime.now().year)
print(datetime.now().month)
print(datetime.now().day)

2023-08-01
2023
8
1

In [82]:
print(type(datetime.now()))

<class 'datetime.datetime'>

In [83]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(type(delta))
print(delta)
print(delta.days)
print(delta.seconds)
print(delta.total_seconds)
print(dir(delta))

<class 'datetime.timedelta'>
926 days, 15:45:00
926
56700
<built-in method total_seconds of datetime.timedelta object at 0x000001E1FC208690>
['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'days', 'max', 'microseconds', 'min', 'resolution', 'seconds', 'total_seconds']

In [84]:
## adding 10 days
print(datetime(2008, 6, 5, 8, 15))
print(datetime(2008, 6, 5, 8, 15) + timedelta(days=10))

2008-06-05 08:15:00
2008-06-15 08:15:00

In [85]:
## timedelta takes the following arguments
## days, seconds, minutes, hours, weeks, milliseconds, and microseconds
print(datetime(2008, 6, 5, 8, 15))
print(datetime(2008, 6, 5, 8, 15) + timedelta(hours=10))
print(datetime(2008, 6, 5, 8, 15) + timedelta(minutes=10))

2008-06-05 08:15:00
2008-06-05 18:15:00
2008-06-05 08:25:00

In [86]:
# Conversion between string and time
stamp = datetime(2011, 1, 3)
print(type(stamp))
print(stamp)
print(stamp.strftime('%Y-%m-%d')) # converts from datetime to string in the given format
print(type(stamp.strftime('%Y-%m-%d')))

<class 'datetime.datetime'>
2011-01-03 00:00:00
2011-01-03
<class 'str'>

In [87]:
stamp = datetime(2011, 1, 3)
print(str(stamp))

2011-01-03 00:00:00

In [88]:
# To convert strings to dates, we use the strptime() functions.
value = '2011-01-03'
print(datetime.strptime(value, '%Y-%m-%d'))
print(type(datetime.strptime(value, '%Y-%m-%d')))
print(datetime.strptime(value, '%Y-%m-%d').date())
print(type(datetime.strptime(value, '%Y-%m-%d').date()))

2011-01-03 00:00:00
<class 'datetime.datetime'>
2011-01-03
<class 'datetime.date'>

In [89]:
# strptime is useful, but it will be undeniably annoying to write the exact format string every time.
# therefore we have dateutils.parser
from dateutil.parser import parse
print(parse('2011-01-03'))
print(parse('Jan 31, 1997 10:45 PM'))
print(parse('6/12/2011', dayfirst=True))

2011-01-03 00:00:00
1997-01-31 22:45:00
2011-12-06 00:00:00

In [90]:
# pandas is generally oriented toward working with arrays of dates, whether used as an
# axis index or a column in a DataFrame. The to_datetime method parses many different
# kinds of date representations.

In [91]:
datestrs = ['7/6/2011', '8/6/2011']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [92]:
#None is conerted to NaT - Not a time
datestrs = ['7/6/2011', '8/6/2011', None]
xx = pd.to_datetime(datestrs)
xx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [93]:
xx.isnull()

array([False, False,  True], dtype=bool)

In [94]:
#The most basic kind of time series object in pandas is a Series indexed by timestamps,
#which is often represented external to pandas as Python strings or datetime objects:

In [96]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -1.810458
2011-01-05   -0.162996
2011-01-07    1.855821
2011-01-08    0.068296
2011-01-10    0.882927
2011-01-12   -1.414050
dtype: float64

In [97]:
#Under the hood, these datetime objects have been put in a DatetimeIndex, and the
#variable ts is now of type TimeSeries
print(type(ts))

<class 'pandas.core.series.Series'>

In [98]:
ts

2011-01-02   -1.810458
2011-01-05   -0.162996
2011-01-07    1.855821
2011-01-08    0.068296
2011-01-10    0.882927
2011-01-12   -1.414050
dtype: float64

In [100]:
ts[::2]

2011-01-02   -1.810458
2011-01-07    1.855821
2011-01-10    0.882927
dtype: float64

In [101]:
ts + ts[::2]

2011-01-02   -3.620916
2011-01-05         NaN
2011-01-07    3.711643
2011-01-08         NaN
2011-01-10    1.765854
2011-01-12         NaN
dtype: float64

In [102]:
ts.index.dtype

dtype('<M8[ns]')

In [103]:
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [104]:
#Indexing, Selection, Subsetting
#TimeSeries is a subclass of Series and thus behaves in the same way with regard to
#indexing and selecting data based on label:

In [105]:
stamp = ts.index[2]
ts[stamp]

1.8558214857689199

In [107]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.691350
2000-01-02   -1.957556
2000-01-03   -1.263478
2000-01-04   -0.348497
2000-01-05    0.691495
                ...
2002-09-22    0.238083
2002-09-23   -0.753457
2002-09-24   -0.661316
2002-09-25    0.121378
2002-09-26    0.489679
Freq: D, Length: 1000, dtype: float64

In [108]:
longer_ts['2001']

2001-01-01    0.842757
2001-01-02    0.576411
2001-01-03   -0.115728
2001-01-04   -0.122528
2001-01-05    0.035114
                ...
2001-12-27   -0.202316
2001-12-28   -0.651019
2001-12-29   -0.341205
2001-12-30   -0.076366
2001-12-31   -0.915568
Freq: D, Length: 365, dtype: float64

In [110]:
len(longer_ts['2001-05'])

31

In [111]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.855821
2011-01-08    0.068296
2011-01-10    0.882927
2011-01-12   -1.414050
dtype: float64

In [112]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.855821
2011-01-08    0.068296
2011-01-10    0.882927
dtype: float64

In [114]:
#Date Ranges, Frequencies, and Shifting
#Generic time series in pandas are assumed to be irregular; that is, they have no fixed
#frequency. For many applications this is sufficient. However, it’s often desirable to work
#relative to a fixed frequency, such as daily, monthly, or every 15 minutes, even if that
#means introducing missing values into a time series. Fortunately pandas has a full suite
#of standard time series frequencies and tools for resampling, inferring frequencies, and
#generating fixed frequency date ranges. For example, in the example time series, converting
#it to be fixed daily frequency can be accomplished by calling resample
ts

2011-01-02   -1.810458
2011-01-05   -0.162996
2011-01-07    1.855821
2011-01-08    0.068296
2011-01-10    0.882927
2011-01-12   -1.414050
dtype: float64

In [118]:
ts.resample('D')

In [119]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [120]:
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [122]:
series.resample('30S').asfreq()

2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    1.0
2000-01-01 00:01:30    NaN
2000-01-01 00:02:00    2.0
2000-01-01 00:02:30    NaN
2000-01-01 00:03:00    3.0
2000-01-01 00:03:30    NaN
2000-01-01 00:04:00    4.0
2000-01-01 00:04:30    NaN
2000-01-01 00:05:00    5.0
2000-01-01 00:05:30    NaN
2000-01-01 00:06:00    6.0
2000-01-01 00:06:30    NaN
2000-01-01 00:07:00    7.0
2000-01-01 00:07:30    NaN
2000-01-01 00:08:00    8.0
Freq: 30S, dtype: float64

In [123]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [124]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [125]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [126]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [127]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [128]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [129]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [130]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [209]:
print("########################IMPORTANT################################")
# third friday of every month - this gives a datetime index.
print(pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI'))
print("------------------------------------------------")
print("This extracts the values into an array of dtype - datetime64ns")
print(pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI').values)
print(type(pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI').values))
print("------------------------------------------------")
print("Convert values to Pandas series")
print(pd.Series(pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI').values))
print("------------------------------------------------")
print("Convert values to Date columns from PD series")
print(pd.Series(pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI').values).dt.date)

########################IMPORTANT################################
DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')
------------------------------------------------
This extracts the values into an array of dtype - datetime64ns
['2012-01-20T00:00:00.000000000' '2012-02-17T00:00:00.000000000'
 '2012-03-16T00:00:00.000000000' '2012-04-20T00:00:00.000000000'
 '2012-05-18T00:00:00.000000000' '2012-06-15T00:00:00.000000000'
 '2012-07-20T00:00:00.000000000' '2012-08-17T00:00:00.000000000']
<class 'numpy.ndarray'>
------------------------------------------------
Convert values to Pandas series
0   2012-01-20
1   2012-02-17
2   2012-03-16
3   2012-04-20
4   2012-05-18
5   2012-06-15
6   2012-07-20
7   2012-08-17
dtype: datetime64[ns]
------------------------------------------------
Convert values to Date columns from PD series
0    2012-01-20
1    2012-02-17
2    2012-03-16
3    2012-04-20
4    2012-05-18
5    2012-06-15
6    2012-07-20
7    2012-08-17
dtype: object

In [210]:
#Shifting (Leading and Lagging) Data
#“Shifting” refers to moving data backward and forward through time. Both Series and
#DataFrame have a shift method for doing naive shifts forward or backward, leaving
#the index unmodified

In [215]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000', periods=4, freq='M'))
print(ts)
print("---------------")
print(ts.shift(1))
print("---------------")
print(ts.shift(2))

print("---------------")
print(ts.shift(-1))
print("---------------")
print(ts.shift(-2))

2000-01-31   -0.023945
2000-02-29   -0.257795
2000-03-31   -2.220944
2000-04-30   -1.761676
Freq: M, dtype: float64
---------------
2000-01-31         NaN
2000-02-29   -0.023945
2000-03-31   -0.257795
2000-04-30   -2.220944
Freq: M, dtype: float64
---------------
2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.023945
2000-04-30   -0.257795
Freq: M, dtype: float64
---------------
2000-01-31   -0.257795
2000-02-29   -2.220944
2000-03-31   -1.761676
2000-04-30         NaN
Freq: M, dtype: float64
---------------
2000-01-31   -2.220944
2000-02-29   -1.761676
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [216]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    9.765946
2000-03-31    7.615160
2000-04-30   -0.206789
Freq: M, dtype: float64

In [218]:
#Because naive shifts leave the index unmodified, some data is discarded. Thus if the
#frequency is known, it can be passed to shift to advance the timestamps instead of
#simply the data:

##### SIMPLY PUT - SHIFTS THE INDEX

print(ts)
print("====================")
print(ts.shift(2, freq='M'))

2000-01-31   -0.023945
2000-02-29   -0.257795
2000-03-31   -2.220944
2000-04-30   -1.761676
Freq: M, dtype: float64
====================
2000-03-31   -0.023945
2000-04-30   -0.257795
2000-05-31   -2.220944
2000-06-30   -1.761676
Freq: M, dtype: float64

In [221]:
print(ts)
print("====================")
print(ts.shift(3, freq='D'))
print("====================")
print(ts.shift(1, freq='3D'))
print("====================")
print(ts.shift(1, freq='90T'))

2000-01-31   -0.023945
2000-02-29   -0.257795
2000-03-31   -2.220944
2000-04-30   -1.761676
Freq: M, dtype: float64
====================
2000-02-03   -0.023945
2000-03-03   -0.257795
2000-04-03   -2.220944
2000-05-03   -1.761676
dtype: float64
====================
2000-02-03   -0.023945
2000-03-03   -0.257795
2000-04-03   -2.220944
2000-05-03   -1.761676
dtype: float64
====================
2000-01-31 01:30:00   -0.023945
2000-02-29 01:30:00   -0.257795
2000-03-31 01:30:00   -2.220944
2000-04-30 01:30:00   -1.761676
Freq: M, dtype: float64

In [226]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
print(now)
print(now + 3 * Day())

2011-11-17 00:00:00
2011-11-20 00:00:00

In [227]:
print(now)
print(now + MonthEnd())
print(now + MonthEnd(2))

2011-11-17 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00

In [229]:
print(now)
offset = MonthEnd()
print(offset.rollforward(now))
print(offset.rollback(now))

2011-11-17 00:00:00
2011-11-30 00:00:00
2011-10-31 00:00:00

In [231]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000', periods=20, freq='4d'))
print(ts)
print("==============================")

2000-01-15    0.792955
2000-01-19    0.386846
2000-01-23   -0.284974
2000-01-27    0.648082
2000-01-31   -0.029138
2000-02-04    0.329887
2000-02-08    0.926468
2000-02-12    0.569785
2000-02-16   -0.713923
2000-02-20    0.257334
2000-02-24    1.327570
2000-02-28    0.268655
2000-03-03   -0.804510
2000-03-07    0.007731
2000-03-11    1.279664
2000-03-15   -0.232816
2000-03-19   -0.984835
2000-03-23    0.731133
2000-03-27   -0.307859
2000-03-31   -0.635264
Freq: 4D, dtype: float64

In [232]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.302754
2000-02-29    0.423682
2000-03-31   -0.118344
dtype: float64

In [234]:
# Easier way to do the same thing.
ts.resample('M', how='mean')

<ipython-input-234-7c52530055fb>:2: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  ts.resample('M', how='mean')

2000-01-31    0.302754
2000-02-29    0.423682
2000-03-31   -0.118344
Freq: M, dtype: float64

In [235]:
#In Python, time zone information comes from the 3rd party pytz library, which exposes
#the Olson database, a compilation of world time zone information. This is especially
#important for historical data because the DST transition dates (and even UTC offsets)
#have been changed numerous times depending on the whims of local governments. In
#the United States,the DST transition times have been changed many times since 1900!
#For detailed information about pytz library, you’ll need to look at that library’s documentation.
#As far as this book is concerned, pandas wraps pytz’s functionality so you
#can ignore its API outside of the time zone names. Time zone names can be found
#interactively and in the docs:

In [236]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [238]:
tz = pytz.timezone('US/Eastern')
tz

In [239]:
'''
Methods in pandas will accept either time zone names or these objects. I recommend
just using the names
'''

'\nMethods in pandas will accept either time zone names or these objects. I recommend\njust using the names\n'

In [240]:
#Downsampling
#Aggregating data to a regular, lower frequency is a pretty normal time series task. The
#data you’re aggregating doesn’t need to be fixed frequently; the desired frequency defines
#bin edges that are used to slice the time series into pieces to aggregate. For example,
#to convert to monthly, 'M' or 'BM', the data need to be chopped up into one month
#intervals. Each interval is said to be half-open; a data point can only belong to one
#interval, and the union of the intervals must make up the whole time frame. There are
#a couple things to think about when using resample to downsample data:

In [242]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [244]:
ts.resample('5min').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [245]:
ts.resample('5min',closed='left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [246]:
ts.resample('5min',closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [ ]:
#closed - which side of the window is open/close? ie. (5,10] or [5,10)] - determines the window in which 5 will be included
#and the window from which 5 will be excluded.

In [248]:
ts.resample('5min',closed='right',label='left').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [249]:
ts.resample('5min',closed='right',label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [251]:
ts.resample('5min',loffset='-1s').sum()

1999-12-31 23:59:59    10
2000-01-01 00:04:59    35
2000-01-01 00:09:59    21
Freq: 5T, dtype: int32

In [253]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [255]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = pd.Series(np.arange(100), index=rng)
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int32

In [256]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

In [259]:
### UPSAMPLING.
frame = pd.DataFrame(np.random.randn(2, 4),index=pd.date_range('1/1/2000', periods=2, freq='W-WED'),columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.649603  3.161744  0.417760 -0.741891
2000-01-12  0.245683  0.327590 -1.398279 -0.229521

In [260]:
frame[:5]

            Colorado     Texas  New York      Ohio
2000-01-05 -0.649603  3.161744  0.417760 -0.741891
2000-01-12  0.245683  0.327590 -1.398279 -0.229521

In [265]:
df_daily = frame.resample('D').ffill()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -0.649603  3.161744  0.417760 -0.741891
2000-01-06 -0.649603  3.161744  0.417760 -0.741891
2000-01-07 -0.649603  3.161744  0.417760 -0.741891
2000-01-08 -0.649603  3.161744  0.417760 -0.741891
2000-01-09 -0.649603  3.161744  0.417760 -0.741891
2000-01-10 -0.649603  3.161744  0.417760 -0.741891
2000-01-11 -0.649603  3.161744  0.417760 -0.741891
2000-01-12  0.245683  0.327590 -1.398279 -0.229521

In [268]:
df_daily = frame.resample('D').ffill(limit=2)
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -0.649603  3.161744  0.417760 -0.741891
2000-01-06 -0.649603  3.161744  0.417760 -0.741891
2000-01-07 -0.649603  3.161744  0.417760 -0.741891
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.245683  0.327590 -1.398279 -0.229521